# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
.env

# UI
**/node_modules/
**/out/
**/.next/
*/npm-debug.log
yarn.lock

# Docs
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/.jekyll-cache
.ruby-version

# images
default.profraw
.DS_Store

# Generated binaries
**/bin
dist/**

# IDE
**/.idea
.vscode/
.cursorignore
*.config

# Meshery
**errorutil_analyze_errors.json
**errorutil_analyze_summary.json
**errorutil_errors_export.json
